{% extends 'base.html' %}
{% load static %}
{% block title %}PORTEN - About us{% endblock %}

{% block content %}
<section class='main'>
    <div class="about-us" lang="ru">
        <h1>PORTEN - онлайн магазин одежды</h1>
        <p>В PORTEN мы хотим, чтобы ваш выбор был настолько прост, как надеть любимую футболку. 
            Поэтому мы работаем с лучшими производствами, используем лучшие из доступных нам материалов. 
            Делимся с вами нашим опытом и историями бренда. Мы открыты для вас, поэтому показываем наше 
            ценообразование. Мы за справедливую цену. Это новый подход к созданию продукта. Мы так чувствуем и 
            воплощаем в PORTEN.</p>
    </div>
    <div class="about-us" lang="en">
        <h1>PORTEN - online clothing store</h1>
        <p>At PORTEN, we want your choice to be as simple as putting on your favorite T-shirt.
            Therefore, we work with the best manufactures, we use the best materials available to us.
            We share our experience and brand stories with you. We are open to you, so we show our
            pricing. We are for a fair price. This is a new approach to creating a product. We feel this way and
            we embody in PORTEN.</p>
    </div>
</section>
{% endblock %}


{% block scripts %}

{% endblock %}