{% extends 'base.html' %}
{% load static %}

{% block title %}PORTEN - Catalog{% endblock %}

{% block content %}
<section class='main pale'>
    <div class="catalog-search">
        <input type="text" placeholder="Search model..." required id="search-item"> 
    </div>
    <div class="catalog-items">
        {% for item in items %}
        <button class="item" value='{{ item.id }}' data-name="{{ item.cloth_name }}">
            <img src="{{ item.image }}" alt="">
            <p>{{ item.cloth_name }}</p>
            <p>{{ item.price }}$</p>
        </button>
        {% endfor %}
    </div>
</section>
{% endblock %}


{% block scripts %}

<script>
    $('#search-item').change((e) => {
        let your_text = $('#search-item').val()
        $('.item').each((i, item) => {
            let text = item.dataset.name;
            if (your_text.matchAll(text)) {
                console.log('+')
            }
            else {
                console.log('-')
            }
        })
    })
    $(document).ready((e) => {


        document.body.querySelectorAll('.item').forEach((item) => {

            item.addEventListener('click', (e) => {

                let data = { cloth_id: item.value }
                console.log(data)
                $.ajax({
                    type: 'GET',
                    url: '{% url "redirect-order" %}',
                    data: data,
                    success: function(data) {
                        console.log(data)
                        if (data.code == true) {
                            console.log('succses')
                            document.location.href = `order/${item.value}`
                        }
                        else {
                            console.log('Item unavailable')
                        }
                    }
                })
            })
        })
    })
        
    
</script>
{% endblock %}